Repository vihdzp/combinatorial-games, pull requests merged in 2025-03, with the labels that each got.

#32 feat: `NatCast IGame`
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#35 feat: add module docstring on `IGame` file
  CombinatorialGames/IGame/IGame.lean
Labels: documentation, t-game

#34 feat: embed `PGame` construction in `IGame` file
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#33 feat: `Game` as quotient of `IGame`
  CombinatorialGames/IGame/Basic.lean
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#36 feat: fuzzy relation
  CombinatorialGames.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/Mathlib/CompRel.lean
Labels: t-game

#37 feat: port special games to `IGame`
  CombinatorialGames/IGame/Special.lean
  CombinatorialGames/Mathlib/CompRel.lean
Labels: t-game

#40 fix(IGame/Basic): index in CombinatorialGames & fix namespace
  CombinatorialGames.lean
  CombinatorialGames/IGame/Basic.lean
Labels: t-game

#39 chore: drop Game.State
  CombinatorialGames.lean
  CombinatorialGames/Game/State.lean
Labels: t-game

#38 chore(IGame): fix typos
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#41 feat: Short `IGame`s
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Short.lean
Labels: t-game

#42 feat: tiny and miny (`IGame`)
  .vscode/settings.json
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#45 feat: `IGame` multiplication
  CombinatorialGames/IGame/Basic.lean
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#46 feat: concrete `IGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Concrete.lean
Labels: t-game

#43 feat: `Ordinal.toIGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Basic.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Ordinal.lean
Labels: t-game

#44 feat: `Short` instances for special games
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#47 feat: IGame/Specific/Domineering
  CombinatorialGames.lean
  CombinatorialGames/IGame/Concrete.lean
  CombinatorialGames/IGame/Specific/Domineering.lean
Labels: t-game

#48 feat: `Surreal` based on `IGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Basic.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game, t-surreal

#50 feat: convenience lemmas for `∀ z ∈ (x + y).leftMoves`, etc.
  CombinatorialGames/IGame/IGame.lean
Labels: t-game

#49 feat: port `Surreal` multiplication to `IGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Basic.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Multiplication.lean
Labels: t-surreal

#51 feat: `Short x` → `Short y` → `Short (x * y)`
  CombinatorialGames/IGame/Short.lean
Labels: t-game

#55 feat: `IGame.half`
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#53 feat: redefine `x ‖ y` as `IncompRel x y`
  CombinatorialGames.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Ordinal.lean
  CombinatorialGames/IGame/Special.lean
  CombinatorialGames/Mathlib/CompRel.lean
  CombinatorialGames/Mathlib/Comparable.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game

#56 feat: simplicity theorem
  CombinatorialGames/IGame/Ordinal.lean
  CombinatorialGames/Mathlib/Order.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game

#60 feat: port `Surreal.Ordinal` to `IGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Ordinal.lean
  CombinatorialGames/Surreal/Ordinal.lean
Labels: t-surreal

#58 feat: `game_cmp` tactic
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Ordinal.lean
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#61 feat: `IGame.birthday`
  CombinatorialGames.lean
  CombinatorialGames/Game/Birthday.lean
  CombinatorialGames/IGame/Birthday.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game

#59 feat: redefine `Short`
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Ordinal.lean
  CombinatorialGames/IGame/Short.lean
  CombinatorialGames/IGame/Special.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game

#64 feat: switches
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#62 feat: `IGame.nim`
  CombinatorialGames.lean
  CombinatorialGames/Game/Specific/Nim.lean
  CombinatorialGames/IGame/Birthday.lean
  CombinatorialGames/IGame/IGame.lean
  CombinatorialGames/IGame/Impartial.lean
  CombinatorialGames/IGame/Specific/Nim.lean
  CombinatorialGames/Nimber/Basic.lean
Labels: t-game

#66 fix: tweak counterexample file
  CombinatorialGames/Counterexamples/Multiplication.lean
  CombinatorialGames/IGame/Special.lean
Labels: t-game

#63 feat: poset `IGame`
  CombinatorialGames.lean
  CombinatorialGames/IGame/Concrete.lean
  CombinatorialGames/IGame/Impartial.lean
  CombinatorialGames/IGame/Specific/Domineering.lean
  CombinatorialGames/IGame/Specific/Poset.lean
Labels: t-game

#68 feat: turn a concrete game `Impartial`
  CombinatorialGames/IGame/Concrete.lean
Labels: t-game

#69 chore: appease linter
  CombinatorialGames/Game/Birthday.lean
Labels: t-game

#70 feat: improve `game_cmp` tactic
  CombinatorialGames.lean
  CombinatorialGames/Counterexamples/Multiplication.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Game/Special.lean
  CombinatorialGames/Game/Specific/Nim.lean
  CombinatorialGames/Game/Tactic.lean
  CombinatorialGames/Nimber/Basic.lean
  CombinatorialGames/Register.lean
  CombinatorialGames/Test.lean
Labels: t-game

#75 feat: `Surreal.mk_natCast`
  CombinatorialGames/Surreal/Basic.lean
Labels: t-surreal

#73 feat: surreal division!
  CombinatorialGames.lean
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Mathlib/Order.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Division.lean
  CombinatorialGames/Surreal/Multiplication.lean
Labels: t-surreal

#74 feat: surreal number from left and right sets
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-surreal

#80 feat: define `IntCast` and `RatCast` for games
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Division.lean
Labels: t-game

#72 feat: begin small
  CombinatorialGames/Game/Small.lean
Labels: t-game

#81 feat: casts from ℕ, ℤ, ℚ are order preserving
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Division.lean
Labels: t-game

#83 feat: better junk values for `IGame` inverse
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Division.lean
  CombinatorialGames/Surreal/Multiplication.lean
Labels: t-game

#84 feat: extra theorems on `ofSets`
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Ordinal.lean
Labels: t-game

#85 feat: `RatCast Game`
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Surreal/Division.lean
Labels: t-game

#86 chore: remove some redundant theorems
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Ordinal.lean
Labels: t-game

#82 feat: options of rational are also rational
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Surreal/Division.lean
Labels: t-game

#87 feat: more lemmas on casts
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Surreal/Division.lean
Labels: t-game

#90 feat: rename `mk_toIGame` lemmas
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Ordinal.lean
Labels: t-surreal

#89 feat: more lemmas on multiplication/division
  CombinatorialGames/Surreal/Division.lean
  CombinatorialGames/Surreal/Multiplication.lean
Labels: t-surreal

#88 feat: real numbers as games
  CombinatorialGames.lean
  CombinatorialGames/Surreal/Real.lean
Labels: t-game

#91 feat: make `Real.toIGame` a cast
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Surreal/Division.lean
  CombinatorialGames/Surreal/Multiplication.lean
  CombinatorialGames/Surreal/Real.lean
Labels: t-game
