Repository vihdzp/combinatorial-games, pull requests merged in 2025-07, with the labels that each got.

#101 feat: `Dyadic.toIGame x ≈ {lower x | upper x}ᴵ`
  CombinatorialGames/Surreal/Numeric.lean
Labels: t-game

#112 feat: make `Dyadic.toIGame` a coercion
  CombinatorialGames/Surreal/Numeric.lean
Labels: t-game

#111 feat: define `IGame.toDyadic`
  CombinatorialGames.lean
  CombinatorialGames/Mathlib/Order.lean
  CombinatorialGames/Surreal/Basic.lean
  CombinatorialGames/Surreal/Dyadic.lean
Labels: t-game

#113 feat: (un)dominated games
  CombinatorialGames/Game/Canonical.lean
Labels: t-game

#122 feat: some `ofSets` lemmas (again)
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game

#128 feat: calculate left/right cuts of a game
  CombinatorialGames/Surreal/Cut.lean
Labels: t-game

#129 feat: simplest surreal between two cuts
  CombinatorialGames/Surreal/Cut.lean
Labels: t-game

#134 feat: (leftSurreal x).birthday = x.birthday + 1
  CombinatorialGames/Surreal/Birthday/Cut.lean
  CombinatorialGames/Surreal/Cut.lean
Labels: t-surreal

#139 feat: product of impartial games is impartial
  CombinatorialGames/Game/Impartial.lean
  CombinatorialGames/Game/Specific/Nim.lean
Labels: t-game

#142 refactor: redefine `Real.toIGame` using `Dyadic` numbers
  CombinatorialGames/Surreal/Dyadic.lean
  CombinatorialGames/Surreal/Real.lean
Labels: t-surreal

#145 feat: surreal birthday is finite iff number is dyadic rational
  CombinatorialGames/Game/Birthday.lean
  CombinatorialGames/Game/Ordinal.lean
  CombinatorialGames/Surreal/Dyadic/Birthday.lean
Labels: t-surreal

#146 feat: many simp lemmas with `Dyadic` and `ℝ`
  CombinatorialGames/Mathlib/Dyadic.lean
  CombinatorialGames/Surreal/Dyadic/Basic.lean
  CombinatorialGames/Surreal/Real.lean
Labels: t-surreal

#150 chore: split `Nim` file
  CombinatorialGames.lean
  CombinatorialGames/Game/Concrete.lean
  CombinatorialGames/Game/Impartial/Basic.lean
  CombinatorialGames/Game/Impartial/Grundy.lean
  CombinatorialGames/Game/Specific/Nim.lean
  CombinatorialGames/Game/Specific/Poset.lean
Labels: t-game

#157 refactor: ditch `PGame`
  CombinatorialGames.lean
  CombinatorialGames/Game/Functor.lean
  CombinatorialGames/Game/IGame.lean
Labels: t-game

#155 doc: improve `Nimber` docstrings
  CombinatorialGames/Nimber/Basic.lean
  CombinatorialGames/Nimber/Field.lean
Labels: t-nimber

#159 feat: `Small {y | Subposition y x}`
  CombinatorialGames/Game/Birthday.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Mathlib/Small.lean
  docbuild/lakefile.toml
  docbuild/lean-toolchain
Labels: t-game

#149 feat: define ω-map on surreals
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Surreal/Division.lean
  CombinatorialGames/Surreal/Multiplication.lean
  CombinatorialGames/Surreal/Pow.lean
  CombinatorialGames/Surreal/Real.lean
Labels: t-surreal

#153 feat: simplest extension theorem 1/4
  CombinatorialGames.lean
  CombinatorialGames/Nimber/Basic.lean
  CombinatorialGames/Nimber/Simplicity.lean
Labels: t-nimber

#163 Apply suggestions at #153
  CombinatorialGames/Nimber/Simplicity.lean
Labels: t-nimber

#160 feat: define loopy games
  CombinatorialGames.lean
  CombinatorialGames/Game/Basic.lean
  CombinatorialGames/Game/Computability/FGame.lean
  CombinatorialGames/Game/Functor.lean
  CombinatorialGames/Game/IGame.lean
  CombinatorialGames/Game/Loopy/Basic.lean
  CombinatorialGames/Mathlib/Small.lean
  CombinatorialGames/Surreal/Basic.lean
Labels: t-game
